108 DIALOG 0, 0, 270, 168
STYLE DS_SETFONT | WS_CHILD
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
{
   CONTROL "Do not remove or disable or alt keys will not work", 135, STATIC, SS_LEFT | WS_CHILD | WS_GROUP, 102, 26, 162, 8 
   CONTROL "&Discs to Make:", 109, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_GROUP, 8, 26, 60, 10 
   CONTROL "Fi&le:", 110, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 11, 27, 10 
   CONTROL "", 117, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP, 69, 23, 15, 13 
   CONTROL "", 152, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 36, 8, 171, 13 
   CONTROL "&Select", 174, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 214, 8, 50, 14 
   CONTROL "&Use Disc ID", 111, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 8, 52, 50, 10 
   CONTROL "Use Bar&code from Disc", 112, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 64, 89, 10 
   CONTROL "", 134, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 63, 49, 68, 13 
   CONTROL "Use &Macintosh Version", 115, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 8, 90, 89, 10 
   CONTROL "Use &Windows Version", 116, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 102, 85, 10 
   CONTROL "Operation:", 140, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 138, 144, 35, 8 
   CONTROL "<No Script Loaded>", 101, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 138, 154, 128, 8 
   CONTROL "Destination", 103, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 4, 0, 264, 40 
   CONTROL "Statistics", 105, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 138, 41, 130, 85 
   CONTROL "Disc ID", 106, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 4, 41, 130, 35 
   CONTROL "Suggested Disc", 107, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 4, 117, 130, 45 
   CONTROL "Player Software", 113, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 4, 79, 130, 35 
   CONTROL "Photo CDs to Read:", 143, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 140, 60, 75, 8 
   CONTROL "Image Pacs to Copy:", 144, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 140, 71, 75, 8 
   CONTROL "Files to Copy:", 145, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 140, 82, 75, 8 
   CONTROL "Audio Clips to Copy:", 146, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 140, 93, 75, 8 
   CONTROL "Images to Convert:", 147, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 140, 104, 75, 8 
   CONTROL "Audio Files to Convert:", 148, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 140, 115, 75, 8 
   CONTROL "Done", 141, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 218, 50, 19, 8 
   CONTROL "Total", 142, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 246, 50, 18, 8 
   CONTROL "", 119, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 215, 60, 21, 8 
   CONTROL "", 120, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 215, 71, 21, 8 
   CONTROL "", 121, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 215, 82, 21, 8 
   CONTROL "", 122, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 215, 93, 21, 8 
   CONTROL "", 123, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 215, 104, 21, 8 
   CONTROL "", 124, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 215, 115, 21, 8 
   CONTROL "", 125, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 243, 60, 21, 8 
   CONTROL "", 126, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 243, 71, 21, 8 
   CONTROL "", 127, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 243, 82, 21, 8 
   CONTROL "", 128, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 243, 93, 21, 8 
   CONTROL "", 129, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 243, 104, 21, 8 
   CONTROL "", 130, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 243, 115, 21, 8 
   CONTROL "Capacity:", 149, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 129, 45, 8 
   CONTROL "Playing Time:", 150, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 140, 45, 8 
   CONTROL "Brand:", 151, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 151, 45, 8 
   CONTROL "", 131, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 61, 129, 69, 8 
   CONTROL "", 132, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 61, 140, 69, 8 
   CONTROL "", 133, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 61, 151, 69, 8 
   CONTROL "&Discs to Make:", 209, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP, 8, 26, 60, 10 
}

