
1 VERSIONINFO
FILEVERSION 1,5,1,0
PRODUCTVERSION 1,5,1,0
FILEOS 0x4
FILETYPE 0x2
{
BLOCK "StringFileInfo"
{
	BLOCK "040904b0"
	{
		VALUE "Comments", "US English Resource only DLL for CD Builder"
		VALUE "CompanyName", "Eastman Kodak Company"
		VALUE "FileDescription", "US English Resources for CD Builder"
		VALUE "FileVersion", "1.5.1"
		VALUE "InternalName", "USARES"
		VALUE "LegalCopyright", "Copyright Eastman Kodak Company 1995"
		VALUE "OriginalFilename", "CDBUILDRES.DLL"
		VALUE "ProductName", "CD Builder USA English Resources"
		VALUE "ProductVersion", "1.5.1"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0  
}
}

