LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

103 DIALOG 0, 0, 307, 188
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "CD Builder Preferences"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
{
   CONTROL "Preferred &Writer:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 5, 55, 8 
   CONTROL "", 153, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_VSCROLL, 10, 15, 125, 54 
   CONTROL "Default &Disc ID without Barcode", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 10, 48, 125, 52 
   CONTROL "Use Date && Time Stamp", 156, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 17, 59, 88, 10 
   CONTROL "Use Disc ID:", 111, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 17, 72, 53, 10 
   CONTROL "Prompt for Disc ID", 158, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 17, 85, 71, 10 
   CONTROL "", 178, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 72, 70, 61, 13 
   CONTROL "Default Locations", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 10, 104, 235, 78 
   CONTROL "&Premaster Directory:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 17, 119, 67, 8 
   CONTROL "Select...", 164, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 193, 129, 46, 14 
   CONTROL "Tempo&rary Directory:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 17, 148, 69, 8 
   CONTROL "Select...", 165, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 193, 158, 46, 14 
   CONTROL "Default Player &Software", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 139, 5, 106, 40 
   CONTROL "Use Macintosh Version", 115, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 146, 17, 89, 10 
   CONTROL "Use Windows Version", 116, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 146, 30, 85, 10 
   CONTROL "Default Des&tination", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 139, 49, 106, 51 
   CONTROL "As in Script", 159, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 146, 61, 49, 10 
   CONTROL "Disc", 160, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 146, 74, 35, 10 
   CONTROL "Premaster File", 161, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 146, 87, 57, 10 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 251, 6, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 251, 23, 50, 14 
   CONTROL "", 171, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 17, 130, 155, 13 
   CONTROL "", 172, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 17, 159, 155, 13 
}

