152 DIALOG 0, 0, 207, 92
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "New Document"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 151, 6, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 151, 23, 50, 14 
   CONTROL "Type of Document to Create:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 4, 116, 8 
   CONTROL "New &Photo CD", 2345, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 4, 16, 59, 10 
   CONTROL "&Append Photo CD", 2346, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 4, 28, 69, 10 
   CONTROL "Create &Image Pacs", 2350, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 4, 40, 73, 10 
}

