
1 VERSIONINFO
FILEVERSION 1,6,1,0
PRODUCTVERSION 1,6,1,0
FILEOS 0x40004
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "040904b0"
	{
		VALUE "Comments", "ScriptMaker Resources"
		VALUE "CompanyName", "Eastman Kodak Company"
		VALUE "FileDescription", "ScriptMaker Resources Version 1.6.1"
		VALUE "FileVersion", "1.6.1"
		VALUE "InternalName", "SCRMAKERRES.DLL"
		VALUE "LegalCopyright", "Copyright Eastman Kodak Company 1995"
		VALUE "OriginalFilename", "SCRMAKERRES.DLL"
		VALUE "ProductName", "SCRIPTMAKER Resources"
		VALUE "ProductVersion", "1.6.1"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0  
}
}

